*info
*hist
*tags*
*history
*zcompdump*
tmux/.config/tmux/plugins/
neovim/.config/nvim/autoload/
neovim/.config/nvim/plugged/
*pycache*
*zcompdump*
*zsh_history*
qutebrowser/.config/qutebrowser/qsettings/
