! Simple Terminal settings
*.alpha: 220
*.font: hack-18

! special
*.foreground:   #7ea2b4
*.background:   #161b1d
*.cursorColor:  #7ea2b4

! black
*.color0:       #161b1d
*.color8:       #5a7b8c

! red
*.color1:       #d22d72
*.color9:       #d22d72

! green
*.color2:       #568c3b
*.color10:      #568c3b

! yellow
*.color3:       #8a8a0f
*.color11:      #8a8a0f

! blue
*.color4:       #257fad
*.color12:      #257fad

! magenta
*.color5:       #5d5db1
*.color13:      #5d5db1

! cyan
*.color6:       #2d8f6f
*.color14:      #2d8f6f

! white
*.color7:       #7ea2b4
*.color15:      #ebf8ff

!! Urxvt Settings
! for transperancy
!urxvt.depth: 32
!urxvt.background:   [90]#002b36
!urxvt.font: xft:hack:size=16
!urxvt.loginShell: true
!urxvt.visualBell: true
!urxvt.scrollBar: false
!! Extensions
!urxvt.perl-ext-common: default,resize-font,keyboard-select
!! keyboard-select:
!urxvt.keysym.M-Escape: perl:keyboard-select:activate
!urxvt.keyboard-select.clipboard: true
!! resize-font
!urxvt.resize-font.smaller: C-Down
!urxvt.resize-font.bigger: C-Up
!
!! XTerm Settings
!xterm*background:   #002b36
!xterm*faceName: Hack 
!xterm*faceSize: 16
!xterm*font: xft:hack:size=16, \
            !xft:emojione:size=12
!xterm*renderFont: true
!xterm*visualBell: true
!xterm*vt100*geometry: 80x25
!xterm*vt100.locale: true
!xterm*loginshell: true
!xterm*savelines: 10000
!xterm*vt100.selectToClipboard: true
!xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
!xterm*utf8: true
!xterm*metaSendsEscape: true
!xterm*termName: xterm-256color
!xterm*scaleHeight: 1.1
!
!! Make backspace behave 
!xterm*vt100.backarrowKey: false
!xterm*ttyModes: erase ^?
!
!! Set Shift Ctrl c for copy and Shift Ctrl v for paste 
!xterm*vt100.translations: #override \n\
!Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
!Ctrl Shift <Key>V: insert-selection(CLIPBOARD) 
