[Unit]
Description=dual function keys service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/udevmon -c /etc/interception/udevmon.yaml
Restart=always

[Install]
WantedBy=multi-user.target
